{% extends 'base.html' %}
{% block content %}

<h1>Football Product</h1>

<h5>App: </h5>
<p>{{ app }}</p>

<h5>Name:</h5>
<p>{{ user }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>
...
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>
<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 
{% if not product_list %}
<p>Belum ada data produk pada football shop.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}</p>

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ product.content|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}
 {% endblock content %}